html{
  height: 100%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #e0e0e0;
}

.main{
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
  color: black;
}

header{
  width: 100%;
  background-color: rosybrown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0;
}

header img{
  width: 60px;
  height: 60px;
  align-items: center;
  margin-left: 1%;
}

header a {
  margin-right: 2%;
}

.content{
  width: 100%;
}

footer{
  width: 100%;
  height: 50px;
  background-color: rosybrown;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img{
  width: 22px;
  height: 20px;
}

.contact{
  padding: 12px;
  margin-left: 2%;
}

.socialMedia{
  padding: 12px;
  margin-right: 2%;
}

.copyright{
  font-size: 0.75em;
}
