form{
  height: 380px;
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.images{
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.images img{
  padding: 4%;
  border-radius: 25%;
}

.content img{
  width: 150px;
  height: 150px;
}
