.content{
  margin-top:2%;
}

#list-view{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#list-view img{
  width: 250px;
  height: 250px;
}

#list-view > div{
  margin: 2%;
  background-color: lightgrey;
  width: 40%;
}

#list-view > div:hover{
  background-color: rosybrown;
}

#map-view{
  display: none;
}

ul{
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

a > li{
  display: inline;
  padding: 20px;
}

.details{
  float:left;
  padding-left: 10px;
  padding-top: 2%;
}

.image{
  float:left;
}

.checked{
  color:orange;
}
